/* ---- Wallpaper Picker ---- */

@import "~/.config/rofi/config.rasi"

window {
  width: 85%;
  height: inherit;
}

mainbox {
  children: [ "inputbar", "message", "listview" ];
}

entry {
  placeholder: "Search wallpapers...";
  horizontal-align: 0.5;
}

message {
  enabled: true;
  padding: 6px 20px;
}

textbox {
  padding: 8px 16px;
  background-color: @background-alt;
  text-color: @foreground;
  font: "IosevkaTerm Nerd Font 10";
  horizontal-align: 0.5;
}

listview {
  columns: 4;
  lines: 2;
  spacing: 14px;
  padding: 14px;
  fixed-height: true;
  fixed-width: true;
  flow: horizontal;
  cycle: true;
  scrollbar: false;
}

element {
  orientation: vertical;
  spacing: 4px;
  padding: 6px;
  border-radius: 0;
}

element selected.normal {
  background-color: @selected;
}

element-icon {
  size: 220px;
}

element-text {
  horizontal-align: 0.5;
  vertical-align: 0.5;
  font: "IosevkaTerm Nerd Font 9";
}
