/* Gruvbox Light — wlogout */
window {
    font-family: JetBrainsMono Nerd Font;
    font-size: 10pt;
    color: #3c3836;
    background-color: transparent;
}

button {
    background: #ebdbb2;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    min-height: 0;
    min-width: 0;
    color: #928374;
}

button:hover {
    background: #d5c4a1;
    color: #b57614;
}

button:focus {
    background: #d5c4a1;
    color: #b57614;
}
